<div class="row">

  <div class="col-md-12">
    <ba-card title="Unprocessed Files" baCardClass="with-scroll">
      <div align="right">
        <!--        <button type="button" class="btn btn-primary btn-md" (click)="loadFiles()"><i class="ion-refresh"
                                                                                              title="Refresh results">
                  Refresh</i></button>-->
        <button type="button" class="btn btn-primary btn-md" (click)="testPostalSignal()"><i class="ion-refresh"
                                                                                             title="Refresh results">
          Prod Vita</i></button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th style="width: 25%" class="th-center"> File ID</th>
            <th style="width: 25%" class="th-center"> File</th>
            <th style="width: 15%" class="th-center"> Size (GB)</th>
            <th style="width: 15%" class="th-center"> Created</th>
            <th style="width: 5%" class="th-center"> Tasks</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let file of displayFiles">
            <tr *ngIf="file.flows.length == 0">
              <td class="td-center">{{file.id}}</td>
              <td class="td-center">{{file.path}}{{file.name}}</td>
              <td class="td-center">{{file.size}}</td>
              <td class="td-center">{{file.createDate | date: 'medium'}}</td>
              <td class="td-center">
                <button type="button" class="btn btn-primary btn-icon"
                        (click)="processFile({fileId:file.id, flowId:'Bro'})" title="Bro process file"><i
                  class="ion-android-send"> Bro</i></button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </ba-card>

    <ba-card title="Processed Files" baCardClass="with-scroll">

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th style="width: 25%" class="th-center"> File</th>
            <th style="width: 25%" class="th-center"> Flow</th>
            <th style="width: 15%" class="th-center"> Status</th>
            <th style="width: 25%" class="th-center"> Steps</th>
            <th style="width: 10%" class="th-center"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let file of displayFiles">
            <ng-container *ngIf="file.flows">
              <tr *ngFor="let flow of file.flows">
                <td class="td-center">{{file.path}}{{file.name}}</td>
                <td class="td-center">{{flow.id}}</td>
                <td class="td-center">
                  <div *ngIf="!flow.errors">{{flow.status}}</div>
                  <div *ngIf="flow.errors">{{flow.errors[0].message}} ({{flow.errors.length}})</div>
                  <div *ngFor="let step of flow.steps">
                    <div *ngFor="let error of step.errors">
                      <div><strong>{{error.message}}</strong></div>
                    </div>
                  </div>
                  <!--                    <div [hidden]="!flow.steps.hideElement">
                                        <div *ngFor="let err of flow.errs">
                                          <div><strong>{{err.error}}</strong></div>
                                          <div>file - '{{err.location}}'</div>
                                        </div>
                                      </div>-->
                </td>
                <td class="td-center">
                  <div *ngIf="!flow.expanded">. . .</div>
                  <div *ngIf="flow.expanded">
                    <div *ngFor="let step of flow.steps">
                      <div><strong>{{step.name}}</strong></div>
                      <div><strong>Status:</strong> {{step.status}}</div>
                      <div><strong>Progress:</strong> {{step.progress}}</div>
                      <div><strong>Start:</strong> {{step.startTime | date: 'medium'}}</div>
                      <div><strong>Current:</strong> {{step.currentTime | date: 'medium'}}</div>
                      <div><strong>End:</strong> {{step.endTime | date: 'medium'}}</div>
                      <!--                      <div><strong>Source:</strong></div>
                                            <div>{{step.source.path}}</div>
                                            <div><strong>Products:</strong></div>
                                            <div *ngFor="let product of step.products">
                                              {{product.path.split('/').pop()}}
                                            </div>-->
                    </div>
                  </div>
                </td>
                <td class="td-center">
                  <button type="button" class="btn btn-primary btn-icon"
                          (click)="toggleFlowExpanded(flow)" *ngIf="!flow.expanded"
                          title="show Details"><i class="ion-android-expand"></i></button>
                  <button type="button" class="btn btn-primary btn-icon"
                          (click)="toggleFlowExpanded(flow)" *ngIf="flow.expanded"
                          title="hide Details"><i class="ion-android-contract"></i></button>
                  <button type="button" class="btn btn-danger btn-icon" (click)="deleteFile(file.id)"
                          title="Delete File History"><i class="ion-trash-a"></i></button>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
