<div class="row">
  <div class="col-md-12">
    <ba-card title="Import new file" baCardClass="with-scroll">
      <input type="file" id="myFile" multiple size="50">
    </ba-card>
  </div>
  <p></p>
  <div class="col-md-12">
      <h1>Import History</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th> FileName</th>
              <th> Url</th>
              <th> Time</th>
              <th> Status</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>inside_2015_05.tar.enc</td>
              <td>http://blah.blah.blah</td>
              <td>10/20/2016 9:30:00 AM</td>
              <td>Succeeded</td>
            </tr>
            <tr>
              <td>inside_2016_04.tar.enc</td>
              <td>http://blah.blah.blah</td>
              <td>10/20/2016 10:31:05 AM</td>
              <td><code>Interrupted</code></td>
            </tr>
            <tr>
              <td>inside_2016_05.tar.enc</td>
              <td>http://blah.blah.blah</td>
              <td>10/21/2016 8:10:12 AM</td>
              <td>Succeeded</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
