<div class="row">
  <div class="col-md-12">
    <ba-card title="File Activity" baCardClass="with-scroll">

      <div>

        <label>Count: {{xyz}}</label>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th> Chain</th>
              <th> Source File</th>
              <th> Action(s)</th>
              <th> Target</th>
              <th> Status</th>
              <th> Time</th>
              <th> Retry?</th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </div>

    </ba-card>
  </div>
</div>
