<div class="row">

  <div class="col-md-12">
    <ba-card title="Unprocessed Files" baCardClass="with-scroll">
      <div align="right">
        <button type="button" class="btn btn-primary btn-md" (click)="loadFiles()"><i class="ion-refresh" title="Refresh results"> Refresh</i></button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 25%" class="th-center"> File ID</th>
              <th style="width: 25%" class="th-center"> File</th>
              <th style="width: 15%" class="th-center"> Size (GB)</th>
              <th style="width: 15%" class="th-center"> Created</th>
              <th style="width: 5%" class="th-center"> Tasks</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let file of displayFiles">
              <tr *ngIf="file.flows.length == 0">
                <td class="td-center">{{file.id}}</td>
                <td class="td-center">{{file.path}}{{file.name}}</td>
                <td class="td-center">{{file.size}}</td>
                <td class="td-center">{{file.createDate | date: 'medium'}}</td>
                <td class="td-center">
                  <button type="button" class="btn btn-primary btn-icon" (click)="processFile({fileId:file.id, flowId:'582c9ed90dcb247b333fb1d6'})" title="Bro process file"><i class="ion-android-send"> Bro</i></button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ba-card>

    <ba-card title="Processed Files" baCardClass="with-scroll">

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th style="width: 25%" class="th-center"> File</th>
            <th style="width: 25%" class="th-center"> Flow</th>
            <th style="width: 15%" class="th-center"> Last Status</th>
            <th style="width: 25%" class="th-center"> Steps &nbsp;
            </th>
            <th style="width: 10%" class="th-center"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let file of displayFiles">
            <ng-container *ngIf="file.flows.length > 0">
              <tr *ngFor="let flow of file.flows">
                <td class="td-center">{{file.path}}{{file.name}}</td>
                <td class="td-center">{{flow.id}}</td>
                <td class="td-center">{{flow.lastStatus}} {{file.tasks.length}}</td>
                <td class="td-center">
                  <div *ngIf="detailStatus==false"> . . . </div>
                  <div *ngIf="detailStatus==true">
                    <div *ngFor="let step of flow.steps">
                      <div><strong>{{step.name}}</strong></div>
                      <div>Start: {{step.start | date: 'medium'}}</div>
                      <div>End: {{step.end | date: 'medium'}}</div>
                    </div>
                  </div>
                </td>
                <td class="td-center">
                  <button type="button" class="btn btn-primary btn-icon" (click)="showDetail(flow)" title="show Details" *ngIf="detailStatus==false"><i class="ion-android-expand"></i></button>
                  <button type="button" class="btn btn-primary btn-icon" (click)="showDetail(flow)" title="hide Details" *ngIf="detailStatus==true"><i class="ion-android-contract"></i></button>
                  <button type="button" class="btn btn-danger btn-icon" (click)="deleteFile(file.id)" title="Delete File History"><i class="ion-trash-a"></i></button>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
