<div class="row">
  <div class="col-md-12">
    <ba-card title="File Activity" baCardClass="with-scroll">

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th> Chain</th>
              <th> Source File</th>
              <th> Action(s)</th>
              <th> Target</th>
              <th> Status</th>
              <th> Time</th>
              <th> Retry?</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let flow of displayFlows">
              <td>{{flow.id}}</td>
              <td>{{flow.name}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <th (click)="onSelect(flow)"> Retry?</th>
            </tr>

          </tbody>
        </table>
      </div>


      <!--<div *ngIf="selectedFlow">-->
        <!--<label>Selected Flow : {{selectedFlow.name}}</label>-->
      <!--</div>-->


    </ba-card>
  </div>
</div>
