<div class="row">
  <a routerLink="/pages/vita/etl-flow-form">Add Flow</a>
  <button type="button" class="btn btn-info btn-md" (click)="loadFlows()"><i class="ion-refresh"> Refresh</i></button>
  <div class="col-md-12">
    <ba-card title="Flows" baCardClass="with-scroll">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th style="width: 20%"> Id</th>
            <th style="width: 20%"> Name</th>
            <th style="width: 50%"> Steps</th>
            <th style="width: 10%"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let flow of displayFlows">
            <tr>
              <td>{{flow.id}}</td>
              <td>{{flow.name}}</td>
              <td>
                <ng-container *ngIf="flow.steps.length > 0">
                  <div *ngFor="let step of flow.steps">
                    <div>{{step.id}}</div>
                    <div>{{step.name}}</div>
                    <div>{{step.index}}</div>
                    <button type="button" class="btn btn-danger btn-icon" (click)="deleteStep({flowId: flow.id,stepId:step.id})"><i class="ion-minus"></i></button>
                  </div>
                </ng-container>
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-icon" (click)="addStep(flow)"><i class="ion-plus"></i></button>
              </td>
          </ng-container>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
